<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Grandbaby born 5!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <!-- first heading, paragraph, date/time, & bonus image -->
  <h1>Grandbaby!</h1>
  <p>The current date and time is: {{ my_time.strftime("%B %d, %Y %I:%M %p") }}</p>
  <p>My first grandbaby Celeste born on 6/20/2025.</p>
  <img src="https://github.com/SnootyPig/cyop_300_wk6/blob/main/images/grandbaby_and_me.jpeg?raw=true" alt="Grandbaby and Me" width="300">
  <p><a href="{{ url_for('grand') }}">Go to page 2.</a></p>
  <p><a href="{{ url_for('moregrand') }}">Go to page 3.</a></p>
  <!-- second heading, ordered list-->
  <h2>Ordered list!</h2>
  <p>Nonsensical list....</p>
  <ol>
    <li>Grandbaby born!</li>
    <li>Grandbaby grandpa happy!</li>
    <li>Grandbaby no time!</li>
    <li>Grandbaby wish I could be more creative!</li>
  </ol>
  
  <!-- thrid heading, unordered list, & web links -->
  <h3>Unordered list of three links to other external websites!</h3>
  <ul>
    <li><a href="https://www.google.com" target="_blank">Google</a></li>
    <li><a href="https://www.wikipedia.org" target="_blank">Wikipedia</a></li>
    <li><a href="https://www.youtube.com" target="_blank">YouTube</a></li>
  </ul>
  <p>Always up, I hope.</p>
</body>
</html>